//colors

$gog-background-color: #CDCDCD;
$gog-color-white: #FFFFFF;
$gog-nav-background-color: #DEDEDE;
$gog-border-color: #B8B8B8;
$gog-font-color: #262626;

//dimensions

$gog-nav-width: 1060px;

// fonts
$gog-font-weight: 600;

