<div class="gog-cart-item"
     (mouseenter)="isRemoveButtonVisible=true"
     (mouseleave)="isRemoveButtonVisible=false">
  <div class="gog-cart-item__product-image">
    <img alt="GOG logo"
         src={{cartItem.imgUrl}}>
  </div>
  <div class="gog-cart-item__product-title"
       [ngClass]="{'gog-cart-item__product-title_hover' : isRemoveButtonVisible === true}">
    {{ cartItem.productName }}
    <div class="gog-cart-item__remove-button"
         *ngIf="isRemoveButtonVisible === true">
      <a target="_self"
         (click)="gogCartService.removeItemFromCart(cartItem.productName)">
        {{COPY_ENG.HEADER.CART.REMOVE_ITEM}}
      </a>
    </div>
  </div>
  <div class="gog-cart-item__product-price">
    <span *ngIf="cartItem.currency === CurrenciesEnum.USD">
      {{COPY_ENG.COMMON.CURRENCIES.USD}}
    </span>
    <span *ngIf="cartItem.currency === CurrenciesEnum.PLN">
      {{COPY_ENG.COMMON.CURRENCIES.PLN}}
    </span>
    {{ cartItem.productPrice }}
  </div>
</div>
