<div class="gog-menu-cart"
     [ngClass]="{'gog-menu-cart_empty' : itemsInCart() === 0}">
  <div class="gog-menu-cart__container">
    <ng-container *ngIf="itemsInCart() > 0; else emptyCart">
      <gog-cart-summary>
      </gog-cart-summary>
      <div *ngFor="let cartItem of gogCartService.productsInCart">
        <gog-cart-item [cartItem]="cartItem">
        </gog-cart-item>
      </div>
    </ng-container>
    <ng-template #emptyCart>
      <div class="gog-menu-cart__empty-cart">
        <h2 class="gog-menu-cart__empty-header">
          {{COPY_ENG.HEADER.CART.EMPTY_CART}}
        </h2>
        <hr class="gog-menu-cart__empty-border">
        <div class="gog-menu-cart__empty-description">
          {{COPY_ENG.HEADER.CART.DISCOVER_NEW_GAMES}}
        </div>
      </div>
    </ng-template>
  </div>
</div>
